@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font: 'Montserrat', sans-serif;
}

.Personal-Information {
    display: flex;
    width: 20rem;
    flex-direction: column;
    font-family: var(--main-font);
    background-color: #ffff;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.Personal-Information h1 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 1rem;
}

.Personal-Information .icon {
    margin-right: 10px;
}

.Personal-Information-Header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Personal-Information input {
    font-family: var(--main-font);
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
}

.personal-info-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}