.output-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    max-height: fit-content;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: end;
}




.Resume {
    padding: 1rem;
    background-color: #ffff;
    border: 1px solid black;
}

.personal-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.personal-details {
    display: flex;
    gap: 10px;
}

.personal-details div {
    padding-right: 10px;
    border-right: 1px solid black;
}

/* skills */
.skills h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.skill-label {
    margin: 0;
    font-weight: bold;
}

.skills .skill-list {
    padding-left: 2rem;
}

.skills ul {
    margin: 0;
    margin-left: 10px;
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.skills ul li {
    margin-right: 10px;
}

.languages {
    display: flex;
    align-items: center;
    max-height: 2rem;
}

.frameworks {
    display: flex;
    align-items: center;
    max-height: 2rem;
}

.tools {
    display: flex;
    align-items: center;
    max-height: 2rem;
}



.experience h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.experience .job-list {
    padding-left: 2rem;
    padding-right: 2rem;
}

.job {
    font-size: 15px;
}

.job .primary-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
}

.company {
    display: flex;
    justify-content: flex-end;
}

.projects h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.projects .project-list {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 15px;
}

.projects .project-title {
    font-size: 18px;
    font-weight: bold;
}

.education-resume h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.education-resume .school-list {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 15px;
}

.education-resume .school {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.education-resume .location, .education-resume .date {
    display: flex;
    justify-content: flex-end;
}

.school-name {
    font-size: 18px;
    font-weight: bold;
}