.output-container {
    display: flex;
    justify-content: center;
}


.Resume {
    padding: 1rem;
    background-color: #ffff;
    border: 1px solid black;
}

.personal-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.personal-details {
    display: flex;
    gap: 10px;
}

.personal-details div {
    padding-right: 10px;
    border-right: 1px solid black;
}

.skills h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.skill-label {
    font-weight: bold;
}

.skills .skill-list {
    padding-left: 2rem;
}

.experience h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.experience .job-list {
    padding-left: 2rem;
    padding-right: 2rem;
}

.job {
    font-size: 15px;
}

.job .primary-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.job-title {
    font-size: 18px;
    font-weight: bold;
}

.company {
    display: flex;
    justify-content: flex-end;
}

.projects h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.projects .project-list {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 15px;
}

.projects .project-title {
    font-size: 18px;
    font-weight: bold;
}

.education h4 {
    border-bottom: 1px solid black;
    margin: 10px;
}

.education .school-list {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 15px;
}

.education .school {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.education .location, .education .date {
    display: flex;
    justify-content: flex-end;
}